  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        <div class="modal-body">
            <img class="scooter" src="assets/img/delivery.png">
         <h5 class="text-center font-weight-700 text-15">Your order has been placed.</h5>
         <p class="text-center text-13"> It will be delivered in 15 minutes</p>
        </div>
      </div>
    </div>
  </div>